@model ImdbWeb.Areas.Admin.Models.MovieModels.DeleteModel

@{
    ViewBag.Title = "Slett film";
}

<h2>Slett film</h2>

<h3>Er du sikker på at du vil slette denne?</h3>
<div>
    <h4>DeleteModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Slett" class="btn btn-default" /> |
            @Html.ActionLink("Tilbake til listen", "Index")
        </div>
    }
</div>
