@model MovieDAL.Person
@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

@MovieList(Model.ActedMovies, "Spilt i")
@MovieList(Model.DirectedMovies, "Regissert")
@MovieList(Model.ProducedMovies, "Produsert")


@helper MovieList(IEnumerable<MovieDAL.Movie> movies, string title)
{
    if (movies.Any())
    {

        <h3>@title (fra helper) </h3>
        <ul>
            @foreach (var movie in movies)
            {
                <li>
                    @Html.ActionLink(movie.Title, "Details", "Movie", new { id = movie.MovieId }, null)
                </li>
            }
        </ul>
    }
}
