@model MovieDAL.Person
@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

@MovieList(Model.ActedMovies, "Spilt i")
@MovieList(Model.DirectedMovies, "Regissert")
@MovieList(Model.ProducedMovies, "Produsert")


@helper MovieList(IEnumerable<MovieDAL.Movie> movies, string title)
{
    var options = new AjaxOptions { UpdateTargetId = "popup",OnBegin="dimBackground", OnFailure= "resetBackground", OnSuccess="showPopup" };


    if (movies.Any())
    {

        <h3>@title</h3>
        <ul>
            @foreach (var movie in movies)
            {
                <li>
                    @Cover.Thumb(movie)
                    @Ajax.ActionLink(movie.Title, "Details", "Movie", new { id = movie.MovieId }, options)
                </li>
            }
        </ul>
    }
}
