@model Movie

@{
    ViewBag.Title = Model.Title;
}
<h2>@Model.Title (@Model.ProductionYear)</h2>
<p>@Model.OriginalTitle</p>

<section id="voting">
    @using (Ajax.BeginForm("Vote", "Rating", new { id = Model.MovieId }, new AjaxOptions { UpdateTargetId = "voting" }))
    {
        <text>
            @Html.AntiForgeryToken()
            Gi din stemme: @Html.DropDownList("vote", new SelectList(new[] { 1, 2, 3, 4, 5 }), "-- velg --")
            <button>Send inn!</button>
        </text>
    }
</section>

@Cover.Medium(Model)

<dl>
    <dt>
        Filmens lengde
    </dt>
    <dd>@Model.RunningLength</dd>
    <dt>Regisører</dt>
    <dd>@Html.PrettyJoin(Model.Directors)</dd>
    <dt>Produsenter</dt>
    <dd>@Html.PrettyJoin(Model.Producers)</dd>
</dl>

<p>@Model.Description</p>

<h3>Skuespillere</h3>
<ul>
    @foreach (var person in Model.Actors)
    {
        <li>
            @Html.ActionLink(person.Name, "Details", "Person", new { id = person.PersonId }, null)
        </li>
    }
</ul>

<section id="commenting">
    @using (Ajax.BeginForm("Comment", new { id = Model.MovieId }, new AjaxOptions
    {
        UpdateTargetId = "commenting",
        LoadingElementId = "waiting",
        InsertionMode = InsertionMode.InsertAfter
        //,OnSuccess = "$('#commenting>form')[0].reset();"
    }))
    {
        <text>
            @Html.AntiForgeryToken()
            @Html.TextBox("author") sier @Html.TextBox("headline")
            <br />
            @Html.TextArea("body", new { rows = 4, cols = 40 })
            <br />
            <button>Legg inn!</button>
        </text>
    }

    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_Comment", comment)
    }
</section>

